/*ESTANDAR LAPTOP O PC*/
#logo{
     width: 180px;
     display: block;
     margin-left: 35%;
    }
.navbar {
        padding: .0rem 1rem;
        }

/*MOVILES*/
@media (min-width: 0px) and (max-width: 599px) {
    #logo{
        margin-left: 4.5em;
    }
    .usuario{
        display: none;
    }
    .navbar-nav {
        margin-bottom: 2em;
        text-align: center;
    }
    .navbar{
        padding: 0;
    }
    .socialbar{
        display: none;
    }
}

/*TABLETA*/
@media (min-width: 600px) and (max-width: 990px) {}

/*MINI/NOTEBOOKS*/
@media (min-width: 991px) and (max-width: 1250px) {}